<ion-content fullscreen>
  <ion-slides pager="true">
    <ion-slide>
      <img src="../../../../../assets/img/logo_dark.png" />
      <p>Selfhosted manga reader and tracker.</p>
    </ion-slide>
    <ion-slide>
      <img src="../../../../../assets/img/share-image.png" />
      <p>Share your favourite series with your friends.</p>
    </ion-slide>
    <ion-slide>
      <img src="../../../../../assets/img/keep-track.png" />
      <p>Keep track of your read status of the current ongoing series.</p>
    </ion-slide>
    <ion-slide>
      <img src="../../../../../assets/img/logo_dark.png" />
      <ion-button (click)="gotoServerSetup ()">Start using MangaSekai now</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
