<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="confirm ()">Select</ion-button>
    </ion-buttons>
    <ion-title>{{ 'SETTINGS.FOLDERS.ADD' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel ()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" #content>
  <ion-list *ngIf="folders.loading === false && folders.error === false">
    <ion-item *ngFor="let file of folders.data.contents" button (click)="gotoFolder (file.name)">
      <ion-icon name="folder-outline" slot="start" *ngIf="file.type === 'dir'"></ion-icon>
      <ion-icon name="document-outline" slot="start" *ngIf="file.type !== 'dir'"></ion-icon>
      <ion-label>{{ file.name }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="folders.loading === true">
    <ion-row>
      <ion-col>
        <div class="message">
          <ion-spinner color="primary"></ion-spinner>
          <h2>{{ 'GENERAL.LOADING' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
