<ion-content>
  <form (ngSubmit)="login ()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <!-- main container for the form -->
        <ion-col class="ion-align-self-center" size="11" size-md="7" size-lg="5" size-xl="4">
          <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
          <ion-item>
            <ion-input type="text" [(ngModel)]="userdata.username" name="username" [placeholder]="'LOGIN.USERNAME' | translate"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="userdata.password" name="password" [placeholder]="'LOGIN.PASSWORD' | translate"></ion-input>
          </ion-item>
          <ion-button class="ion-margin-top" color="primary" expand="full" type="submit">{{ 'LOGIN.SIGNIN' | translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
