<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'DASHBOARD.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="tracking.loading === false">
    <ion-row *ngIf="tracking.loading === true || tracking.error === true || (tracking.data && tracking.data.length > 0)">
      <ion-col>
        <ion-item>
          <ion-label>
            {{ 'DASHBOARD.CONTINUE' | translate }}
          </ion-label>
        </ion-item>
        <app-manga-cover *ngFor="let status of tracking.data" [manga]="status.Series" [href]="'/dashboard/series/' + status.IdSeries + '/chapter/' + status.Chapter.Id" [subtitle]="(status.ChapterTrack.Page === 0 ? 'MANGA.CHAPTER_TRACK' : 'MANGA.CHAPTER_TRACK_COUNT') | translate:{chapter: status.Chapter.Number, page: status.ChapterTrack.Page}"></app-manga-cover>
        <div class="message" *ngIf="tracking.error">
          <ion-icon name="cloud-offline-outline"></ion-icon>
          <h2>Could not connect to the server</h2>
        </div>
        <div class="message" *ngIf="tracking.loading">
          <ion-spinner color="primary"></ion-spinner>
          <h2>{{ 'GENERAL.LOADING' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            {{ 'DASHBOARD.DISCOVER' | translate }}
          </ion-label>
        </ion-item>
        <app-manga-cover *ngFor="let manga of series.data" [manga]="manga" [href]="'/dashboard/series/' + manga.Id" [subtitle]="'MANGA.CHAPTER_COUNT' | translate:{count: manga.ChapterCount}"></app-manga-cover>
        <div class="message" *ngIf="series.data && series.data.length === 0">
          <ion-icon name="information-outline"></ion-icon>
          There's no manga available
        </div>
        <div class="message" *ngIf="series.error">
          <ion-icon name="cloud-offline-outline"></ion-icon>
          <h2>Could not connect to the server</h2>
        </div>
        <div class="message" *ngIf="series.loading">
          <ion-spinner color="primary"></ion-spinner>
          <h2>{{ 'GENERAL.LOADING' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="tracking.loading === true">
    <ion-row>
      <ion-col>
        <div class="message">
          <ion-spinner color="primary"></ion-spinner>
          <h2>{{ 'GENERAL.LOADING' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
