<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" [defaultHref]="pages?.serie.Id ? seriesPath (pages.serie.Id) : ''"></ion-back-button>
    <ion-title *ngIf="pages">{{ 'CHAPTER.TITLE' | translate:{name:pages.serie.Name, chapter:pages.chapter.Number} }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-settings">
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pages" scrollEvents="true" (ionScroll)="onScroll ($event)">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button color="success" *ngIf="pages.previous" [href]="chapterPath (pages.serie.Id, pages.previous.Id)">Previous chapter</ion-button>
        <ion-button color="success" *ngIf="pages.next" [href]="chapterPath (pages.serie.Id, pages.next.Id)">Next chapter</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="readMode === 'vertical'">
      <ion-col size="12" class="ion-text-center">
        <ion-img *ngFor="let page of pages.pages" [src]="api.basepath (page)" class="manga-page"></ion-img>
      </ion-col>
      <ion-col size="12">
        <ion-button color="success" *ngIf="pages.previous" [href]="chapterPath (pages.serie.Id, pages.previous.Id)">Previous chapter</ion-button>
        <ion-button color="success" *ngIf="pages.next" [href]="chapterPath (pages.serie.Id, pages.next.Id)">Next chapter</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="readMode === 'horizontal'">
      <ion-col size="12">
        <ion-slides pager="false" [options]="sliderOptions">
          <ion-slide *ngFor="let page of pages.pages">
            <ion-img [src]="api.basepath (page)"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-modal trigger="open-settings" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeSettingsModal ()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Viewer settings</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="saveSettingsModal ()" [strong]="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label>Read mode</ion-label>
          <ion-select interface="action-sheet" [value]="selectedReadMode" (ionChange)="updateSelectedReadMode($event.detail.value)">
            <ion-select-option value="vertical">Vertical</ion-select-option>
            <ion-select-option value="horizontal">Horizontal</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
